/***************************
This is a Cascading Style Sheet (CSS), which describes rules for styling HTML markup (and this is a comment, which you can delete).

To use this file, link it to your markup by placing a <link> in the <head> of your HTML file:

  <head>
    <link rel="stylesheet" href="style.css">

replacing "style.css" with the name of this CSS file.

Learn more about CSS at

https://developer.mozilla.org/en-US/docs/Web/Guide/CSS
***************************/

.boxLA {
  text-align: center;
  height: 175px;
  width: 175px;
  padding: 10px;
  margin: 5px;
  background-color: #48A2A3;
  opacity: .8;
  color: white;
  float:left;
}

.boxLA2 {
  text-align: center;
  height: 175px;
  width: 175px;
  padding: 10px;
  margin: 5px;
  background-color: #48A2A3;
  opacity: .8;
  color: white;
  float:right;
}
.modulebox {
  background: #aeaec4;
  color: white;
  border-radius: 25px;
  border: 2px solid #73AD21;
}
.modulebox p {
  margin-left: 25px;
}

.summary {
  font-size:1.5em;